<html>
    <head>
    </head>
    <body>
        <center>
            <div style="color:red;">
              <h1>Access denied</h1>
            </div>
            <a href="/">Go back to login page</a>
        </center>
    </body>
</html>